.nav-bar {
  background-color: rgb(255, 255, 1);
  width: 100vw;
}

.register-card {
  justify-self: center;
  width: 80vw;
  min-width: 40rem;
}

.register-container {
  margin-left: 20%;
  margin-right: 20%;
}

.register-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.register-button {
  display: flex;
  grid-template-columns: 1rem;
  justify-content: center;
}

.cart-window {
  width: calc(100vw - (100vw - 100%));
}

.cart-size {
  /* width: 65vw; */
  padding-left: 13%;
  padding-right: 13%;
}

.nav-cart {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.items-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background: red;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  color: white;
}

.container-fluid a {
  text-decoration: none;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2 {
  font-size: 55px;
}

.not-found p {
  font-size: 20px;
}

/*Carrito*/
.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: grey;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}

.start-shopping,
.continue-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: grey;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  display: flex;
  justify-self: center;
  color: white;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.side-nav {
  border-right: 1px solid gray;
  height: calc(100vh - 70px);
  position: fixed;
  overflow-y: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.side-nav h3 {
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.side-nav a {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.side-nav svg {
  margin-right: 0.5rem;
  font-size: 18px;
}

.content {
  margin-left: 200px;
  padding: 2rem 3rem;
  width: 100%;
}

.link-active {
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding-left: 5px;
  border-radius: 2px;
}

.link-inactive {
  color: rgb(97, 97, 97);
}

.create-product {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 2rem;
}

.form input {
  padding: 7px;
  min-height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  margin: 0.3rem 0;
}

.form select {
  padding: 7px;
  min-height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  margin: 0.3rem 0;
}

.from :focus {
  border: 2px solid rgb(0, 208, 255);
}

.form select {
  color: rgb(95, 95, 95);
}

.image-preview {
  margin: 2rem 0 2rem 2rem;
  padding: 2rem;
  border: 1px solid rgb(182, 182, 182);
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(78, 78, 78);
}

.image-preview img {
  max-width: 100%;
}

.admin-header {
  display: flex;
  justify-content: space-between;
}

.p-button {
  padding: 9px 12px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem 0;
}

.categories {
  background-color: rgb(255, 255, 1);
}

.styled-summary {
  width: 100%;
  display: flex;
}

.main-stat {
  flex: 2;
  width: auto;
}

.side-stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 100%;
}

.overview {
  background: rgb(48, 51, 78);
  color: rgb(234, 234, 255, 0.87);
  width: 100%;
  padding: 1.5rem;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title.sum p {
  font-size: 14px;
  color: rgb(234, 234, 255, 0.68);
}

.widget-icon-1 {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: rgb(102, 108, 255);
  background: rgb(102, 108, 255, 0.12);
  border-radius: 3px;
  font-size: 20px;
}

.widget-icon-2 {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: rgb(38, 198, 249);
  background: rgb(38, 198, 249, 0.12);
  border-radius: 3px;
  font-size: 20px;
}

.widget-icon-3 {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: rgb(253, 181, 40);
  background: rgb(253, 181, 40, 0.12);
  border-radius: 3px;
  font-size: 20px;
}

.widget-text {
  align-items: center;
}

.widget-text h3 {
  font-weight: 900;
  margin: 0px;
}

.widget-text p {
  font-size: 14px;
  color: rgb(234, 234, 255, 0.68);
  margin: 0;
}

.percentage-summary-positive {
  margin-left: 0.5rem;
  font-size: 14px;
  color: rgb(114, 225, 40);
}

.percentage-summary-negative {
  margin-left: 0.5rem;
  font-size: 14px;
  color: rgb(255, 77, 73);
}

.chart {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid rgba(48, 51, 78, 0.2);
}

.chart h3 {
  margin-bottom: 1rem;
}

.chart-loader {
  margin-top: 2rem;
}

.transaction-window {
  background: rgb(48, 51, 78);
  color: rgba(234, 234, 266, 0.87);
  padding: 1rem;
  border-radius: 5px;
}

.transaction {
  display: flex;
  font-size: 14px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  background: rgba(38, 198, 249, 0.12);
}

.transaction p {
  flex: 1;
}

.transaction-even {
  display: flex;
  font-size: 14px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  background: rgba(102, 108, 255, 0.12);
}

.transaction-even p {
  flex: 1;
}

.atd-main {
  background: rgb(48, 51, 78);
  color: rgba(234, 234, 255, 0.87);
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  font-size: 14px;
}

.atd-info {
  display: flex;
  margin-top: 1rem;
  padding: 0.3rem;
  border-radius: 3px;
  background: rgba(38, 198, 249, 0.12);
}

.atd-info-even {
  display: flex;
  margin-top: 1rem;
  padding: 0.3rem;
  border-radius: 3px;
  background: rgba(102, 108, 255, 0.12);
}

.atd-title {
  flex: 1;
}

.atd-data {
  flex: 1;
  font-weight: 700;
}

.list-image-container img {
  height: 40px;
}

.list-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-actions button {
  border: none;
  outline: none;
  padding: 3px 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.list-pending {
  color: rgb(253, 181, 40);
  background-color: rgb(253, 181, 40, 0.12);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.list-dispatched {
  color: rgb(38, 198, 249);
  background-color: rgb(38, 198, 249, 0.12);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.list-delivered {
  color: rgb(102, 108, 255);
  background-color: rgb(102, 108, 255, 0.12);
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.product {
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.product-container {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 2rem;
}

.product-image-container {
  flex: 1;
}

.product-image-container img {
  width: 100%;
}

.product-details {
  flex: 2;
  margin-left: 2rem;
}

.product-details h3 {
  font-size: 35px;
}

.product-details p span {
  font-weight: bold;
}

.product-price {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 25px;
}

.e-button {
  padding: 9px 12px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem 0;
  width: 35%;
}

.o-button {
  padding: 9px 12px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem 1rem;
  flex: 1;
}

.order-view-container {
  display: flex;
  max-width: 100%;
  margin-top: 2rem;
}
