nav{
    margin-left: 5em;
}

.grid-container {
    display : inline-grid;
}

.items {

    background-color: rgb(14, 31, 124) ;
    border-radius: 50%;
    width: 40px;
    margin: 0.4rem;
    padding: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
    text-shadow: 1px 0.1em 0.2em black;
    grid-row-start: 1;
    grid-row-end: 3;
    cursor: pointer;
    box-shadow: 0 5px 10px black;
}

.items:hover{
    background-color:  rgb(86, 109, 235);
}



.letters{
    color: azure;
}


.active {
    background-color: rgb(159, 173, 255);
    color: black;
    
}

@media only screen and (max-width: 600px) {
    .items {

        background-color:#136d7a;
        border-radius: 30px;
        margin: 0.2rem;
        padding: 8px;
        grid-row-start: 1;
        grid-row-end: 3;
    }

}